<!-- templates/index.html -->
 <!--Aqui se implementan las herramientas de IA que se utilizaran en el proyectos-->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Generador IA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <h1>🧠 Herramientas Inteligentes IA</h1>
  <div class="container">
    
  </div>
</body>
</html>
